     <section class="area-sign-in">
         <div class="sign-in" style="height: 500px;">
             <form action="/logout" method="get">
               <h2>welcome to home page</h2>
                 
                 
                 <br>
                <div class="center">
                  
                 
                 
                <div> <button class="btn btn-success"><a class="btn btn-success" href="/logout">Logout</a></button></div>
                </div>
                 
         </div>
     </form>
       </section>