    <section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Update User</h3>


  <button class="btn btn-success pb-3 " > <a href="/index" class="link-light"> All users</a></button>
 <form action="/updateUser?id={{data._id}}" method="post" id="update_user">

            <div class="new_user">
                
                    <label for="name" class="form-label">Name</label>
                   
                    <input type="text" name="name" class="form-control form-control-lg" placeholder="{{data.name}}">
                </div>
                <div class="form_group">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" name="email" class="form-control form-control-lg" placeholder="{{data.email}}">
                </div>
                <div class="form_group">
                    <label for="password" class="form-label">Password</label>
                    <input type="text" name="password" class="form-control form-control-lg" placeholder="{{data.password}}">
                </div>
              
                <div class="form_group">
                    <button type="submit" class="btn btn-success mt-3">save</button>
                </div>
            </div>
          
        </form>
        

         </div>
        </div>
      </div>
    </div>
  </div>
</section>